<h3>Add a Restaurant</h3>
<form action="/restaurants" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Rating: <input type="text" name="rating"></p>
  <p>Address: <input type="text" name="address"></p>
  <input type="submit">
</form>
