<header>
  <a href="/users/new">Add a User</a>
  <a href="/restaurants">See All Restaurants</a>
  <a href="/users">See All Users</a>
</header>

<br />
<br />

<form action="/restaurants/search" method="GET">
  <p>City: <input type="text" name="City"></p>
  <p>Cusine: <input type="text" name="Cuisine"></p>
</form>


<h3>Add a Restaurant</h3>
<form action="/restaurants" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Rating: <input type="text" name="rating"></p>
  <p>Address: <input type="text" name="address"></p>
  <input type="submit">
</form>
